/* reset */
* {
  margin: 0;
  padding: 0;
}

/* render html5 elements as block */
header,
footer,
figure {
  display: block;
}

body {
  background-color: #e6e6e6;
  font-family: 'Times New Roman', Times, san-serif;
  font-size: 18px;
  line-height: 28px;
}

/* layout */
#wrapper {
  width: 605px;
  height: 840px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #000;
}

header {
  height: 335px;
  padding: 0 40px;
  border-bottom: 1px solid #000;
}

.section {
  height: 192px;
  padding: 0 40px;
  border-bottom: 1px solid #000;
}

footer {
  padding: 0 40px;
}

/* basics */
h2 {
  text-align: center;
}

p {
  padding: 30px 0;
}

ul {
  padding-left: 30px;
}

.interval {
  padding-top: 0;
}

.logo {
  width: 134px;
  height: 200px;
  margin: 0 auto;
  padding-top: 30px;
}