<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JS Final Exam</title>
	<link rel="stylesheet" href="css/reset.css" type="text/css">
	<link rel="stylesheet" href="dist/exam.css" type="text/css">
	<![if !IE]>
  <script src="lib/jquery-1.12.0.min.js" type="text/javascript"></script>
	<script src='https://cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js'></script>
	<script src="lib/masonry.pkgd.js" type="text/javascript"></script>
	<![endif]>
	<!--[if IE 8]>
		<link rel="stylesheet" href="ie/styles-ie.css" type="text/css">
    <script src="http://code.jquery.com/jquery-1.9.0.js" type="text/javascript"></script>
    <script src="lib/html5shiv.min.js" type="text/javascript"></script>
    <script src="lib/jquery.xdomainrequest.min.js"></script>
    <script src="lib/jquery.masonry.min-v3.js" type="text/javascript"></script>
    <script src='lib/lodash.1.0.1.min.js'></script>
  <![endif]-->
  <!--[if IE 9]>
    <script src="http://code.jquery.com/jquery-1.9.0.js" type="text/javascript"></script>
    <script src='lib/lodash.1.0.1.min.js'></script>
    <script src="lib/jquery.masonry.min-v3.js" type="text/javascript"></script>
  <![endif]-->
	<!--[if gt IE 9]>
    <script src="lib/jquery-1.12.0.min.js" type="text/javascript"></script>
		<script src='https://cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js'></script>
		<script src="lib/masonry.pkgd.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>
	<div class="wrapper">
		<header class="head">
			<form class="head__authorization" action="authorization,php">
				<fieldset>
					<input type="button" name="authorization__login" class="authorization__login" value="Log in">
					<input type="button" name="authorization__signup" class="authorization__signup" value="Sign up">
				</fieldset>
			</form>
				<div class="head__logo__img">
					<img src="img/ug-white.png">
				</div>
				<h1 class="head__slogan__title">Share your<br>holiday dreams</h1>
				<p class="head__slogan__text">And find the perfect partner to fullfill it</p>
				<div>
					<input type="button" name="find__partner" class="head__find__button" value="Find your holiday partner">
				</div>
		</header> <!--end of header -->

		<section class="works">
			<div class="works__container">
				<h3 class="works__title__slogan">How Urlaubsglück works?</h3>
					<div class="works__wrapper">
						<div class="works__item">
							<div class="jcarousel-wrapper">
				        <div class="head__jcarousel">
				          <ul>
				            <li><img src="img/step1.png" alt=""></li>
				            <li><img src="img/step2.png" alt=""></li>
				          </ul>
				        </div>
								<a href="#" class="jcarousel-control-prev"><img src="img/forma1-left.png"></a>
				        <a href="#" class="jcarousel-control-next"><img src="img/forma1-right.png"></a>
				      </div>	
							<img src="img/step1.png" class="works__item__img">
							<input type="button" name="step__button" class="works__item__step" value="Step 1">
							<h3 class="works__item__title">Sed leo enim,<br>condimentum</h3>
							<p class="works__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
						<div class="works__item">
							<div class="jcarousel-wrapper">
				        <div class="head__jcarousel">
				          <ul>
				            <li><img src="img/step2.png" alt=""></li>
				            <li><img src="img/step3.png" alt=""></li>
				          </ul>
				        </div>
								<a href="#" class="jcarousel-control-prev"><img src="img/forma1-left.png"></a>
				        <a href="#" class="jcarousel-control-next"><img src="img/forma1-right.png"></a>
				      </div>	
							<img src="img/step2.png" class="works__item__img">
							<input type="button" name="step__button" class="works__item__step" value="Step 2">
							<h3 class="works__item__title">Morbi velit risus</h3>
							<p class="works__item__text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
						</div>
						<div class="works__item">
							<div class="jcarousel-wrapper">
				        <div class="head__jcarousel">
				          <ul>
				            <li><img src="img/step3.png" alt=""></li>
				            <li><img src="img/step1.png" alt=""></li>
				          </ul>
				        </div>
								<a href="#" class="jcarousel-control-prev"><img src="img/forma1-left.png"></a>
				        <a href="#" class="jcarousel-control-next"><img src="img/forma1-right.png"></a>
				      </div>	
							<img src="img/step3.png" class="works__item__img">
							<input type="button" name="step__button" class="works__item__step" value="Step 3">
							<h3 class="works__item__title">Sed leo enim,<br>condimentum</h3>
							<p class="works__item__text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
						</div>
					</div>
			</div> <!--end of works__container -->
		</section>

		<section class="partners">
			<div class="partners_container">
				<h3 class="partners__title__slogan">Meet a partner for you best holiday</h3>
					<div class="partners__item__wrapper">
					<div class="partners__item left first">
						<img src="img/partner1.png" class="partners__title__img">
						<h4 class="partners__item__title"><a href="#">Bradley Hunter</a></h4>
						<p class="partners__item__text"><a href="#">Based in Chicago. I love playing<br>tennis and loud music.</a></p>
					</div>
					<div class="partners__item left">
						<img src="img/partner2.png" class="partners__title__img">
						<h4 class="partners__item__title"><a href="#">Lucas Marsha</a></h4>
						<p class="partners__item__text"><a href="#">I get my inspiration from <br>and objects around me. I have a<br>passion to colours, typography and<br>skateboards.</a></p>
					</div>
					<div class="partners__item right first">
						<img src="img/partner3.png" class="partners__title__img">
						<h4 class="partners__item__title"><a href="#">Heather Walker</a></h4>
						<p class="partners__item__text"><a href="#">'m a happy person that loves cats<br>and climbing on mountains.</a></p>
					</div>
					<div class="partners__item right">
						<img src="img/partner4.png" class="partners__title__img">
						<h4 class="partners__item__title"><a href="#">Bradley Hunter</a></h4>
						<p class="partners__item__text"><a href="#">Based in Chicago. I love playing<br>tennis and loud music.</a></p>
					</div>
				</div>
				<div class="partners__button">
					<input type="button" name="partners__see" class="partners__see__button" value="See others partners">
				</div>
			</div> <!--end of partners__container -->
		</section>

		<section class="ideas">
			<div class="ideas__container">
				<h3 class="ideas__title__slogan">Discover holiday activity ideas</h3>
			    <div class="ideas__item__wrapper">
			      <div class="ideas__pictures"></div>
			        <script type="text/template" id="ideas__template">
			          <% for(var i=0;i<data.length;i++) { %>
			            <figure class="ideas__item <% if ((i===4)||(i===5)){ %> wide <% } %>">
			              <img class="ideas__item__img" src="<%= data[i].url %>" alt="">
			              <figcaption class="ideas__item__name"><%= data[i].word %></figcaption>
			            </figure>
			          <% } %>
			        </script>
			    </div>
			    <div class="ideas__search__partners">
			        <h3 class="ideas__search__partners__title">Discover holiday activity ideas</h3>
			        <p class="ideas__search__partners__text">Hi! What are your holiday interests?</p>
			      
			      <div class="ideas__search__interests">
			        <input class="ideas__search__input" type="text" name="search__input" placeholder="Enter your interests">
			        <input type="button" name="search__button" class="ideas__search__interests__button" value="Search partners">
			      </div>
			    </div>
			  
			</div> 
		</section>	<!--end of ideas__container --> 

		<footer>
			<div class="footer__container">
				<div class="footer__logo__img">
					<img src="img/ug-red.png">
				</div>
				<div class="footer__menu">
					<ul class="footer__main__menu">
						<li class="footer__menu__item"><a href="#">Company</a>
							<ul class="footer__submenu">
								<li class="footer__submenu__item"><a href="#">About</a></li>
								<li class="footer__submenu__item"><a href="#">Contacts</a></li>
								<li class="footer__submenu__item"><a href="#">Press</a></li>
								<li class="footer__submenu__item"><a href="#">Blog</a></li>
							</ul>
						</li>
						<li class="footer__menu__item"><a href="#">Partners</a></li>
					</ul>
				</div>
				<div class="footer__dev__img">
					<img src="img/areto.png">
				</div>
			</div> <!--end of footer__conteiner -->
		</footer>
	</div> <!--end of wrapper -->
	
	<script src="dist/exam.js" type="text/javascript"></script>
	
</body>
</html>