//_variables.scss

$montserrat-font: 			'montserratbold', Arial, sans-serif;
$roboto-font:						'robotolight', Arial, sans-serif;
$mobile-width:	 				320px;
$tablet-width:	 				768px;
$desktop-width:	 				1440px;
$font-color:						#333333;
$p-color:								#8f8f8f;
$red-color: 						#ff4e50;
$white-color: 					#fff;
