body {
	max-width: 2560px;
	overflow-x: hidden;
	font-family: 'montserratbold', 'robotolight', Arial, sans-serif;
	line-height: 18px;
	font-size: 14px;
	color: #333333;
}

@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.wrapper {
	width: 100%;
	min-width: 1440px;
	height: 3398px;
	margin: 0 auto; 
	background-color: #c0c0c0;
}

/* header field for desktop */
header.head {
	display: block;
	position: relative;
	width: 1440px;
	height: 700px;
	margin: 0 auto;
	background: url(../img/header_photo.png) no-repeat center center;
	background-size: cover;
}

.head__authorization {
	display: block;
	float: right;
	width: 164px;
	padding: 38px 248px 0 0;
}

.authorization__login {
	width: 60px;
	cursor: pointer;
	border: 1px solid transparent;
	font-family: 'montserratbold', Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	background-color: transparent;
}

.authorization__signup {
	width: 90px;
	cursor: pointer;
	border-radius: 19px;
	border: 2px solid #fff;
	font-family: 'montserratbold', Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	background-color: transparent;
}

.head__logo__img {
	display: block;
	float: left;
	padding: 46px 0 0 250px;
}

.head__slogan__title {
	display: block;
	text-align: center;
	padding-top: 220px;
	text-transform: uppercase;
	font-size: 52px;
	line-height: 60px;
	color: #fff;
}

.head__slogan__text {
	text-align: center;
	margin-top: 28px;
	font-family: 'robotolight', Arial, sans-serif;
	font-size: 18px;
	color: #fff;
}

.head__find__button {
	display: block;
	width: 224px;
	height: 38px;
	margin: 40px auto;
	cursor: pointer;
	border-radius: 19px;
	border: 1px solid transparent;
	font-family: 'montserratbold', Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	background-color: #ff4e50;
}

/* works section for desktop*/
.works__container {
	display: block;
	width: 1440px;
	height: 555px;
	margin: 0 auto;
	background-color: #fff;
}

.works__title__slogan {
	padding: 100px 0 32px 0;
	text-align: center;
	font-size: 22px;
}

.works__wrapper {
	display: block;
	width: 945px;
	margin: 0 auto;
}

.works__item {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 400px;
	margin: 3.5px 5px;
	overflow: hidden;
}

.works__item__img {
	display: none;
}

/* caroysel plugin section */ 
.jcarousel-wrapper {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

.head__jcarousel {
  position: relative;
  overflow: hidden;
}

.head__jcarousel ul {
  width: 20000em;
  position: relative;
  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

/* These you can set the width limitation of the item elements */
.head__jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
  width: 300px;
  height: auto;
}

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 154px;
  width: 30px;
  height: 55px;
}

.jcarousel-control-prev {
  left: 22px;
}

.jcarousel-control-next {
  right: 22px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  opacity: .5;
  cursor: default;
}

.works__item__step {
	display: inline-block;
	position: absolute;
	top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 13px;
	color: #fff;
	background-color: #ff4e50;
}

.works__item__title {
	display: inline-block;
	position: absolute;
	top: 63%;
	left: 7%;
	margin-top: 20px;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
}

.works__item__text {
	display: inline-block;
	width: 88%;
	position: absolute;
	top: 84%;
	left: 7%;
	font-family: 'robotolight', Arial, sans-serif;
	font-size: 14px;
	color: #fff;
}

/* partners section for desktop */
.partners {
	display: block;
	width: 1440px;
	margin: 0 auto;
	background-color: #fff;
}

.partners_container {
	display: block;
	width: 940px;
	height: 520px;
	margin: 0 auto;
}

.partners__title__slogan {
	text-align: center;
	padding: 97px 0 35px 0;
	font-size: 22px;
	line-height: 24px;
}

.partners__item {
	display: inline-block;
	width: 230px;
	height: 238px;
	margin: 0 auto;
	padding-left: 4px;
	overflow: hidden;
}

.partners__item.first {
	float: left;
}

.partners__title__img {
	display: block;
	width: 124px;
	margin: 0 auto;
}

.partners__item__title {
	text-align: center;
	font-size: 22px;
	line-height: 24px;
}

.partners__item__title a {
	text-decoration: none;
	color: #333333;
}

.partners__item__text {
	text-align: center;
}

.partners__item__text a {
	text-decoration: none;
	font-family: 'robotolight', Arial, sans-serif;
	color: #8f8f8f;
}

.partners__see__button {
	display: block;
	clear: left;
	width: 190px;
	height: 40px;
	margin: 36px auto 0 auto;
	cursor: pointer;
	border-radius: 19px;
	border: 2px solid #ff4e50;
	font-family: 'montserratbold', Arial, sans-serif;
	font-size: 14px;
	color: #ff4e50;
	background-color: transparent;
}

/* ideas section for desktop */
.ideas {
	display: block;
	width: 1440px;
	margin: 0 auto;
	background-color: #fff;
}

.ideas__container {
	display: block;
	position: relative;
	width: 940px;
	height: 1428px;
	margin: 0 auto;
}

.ideas__title__slogan {
	text-align: center;
	font-size: 22px;
	padding-top: 48px;
	padding-bottom: 38px;
}

.ideas__item__wrapper {
	display: block;
	margin: 0 auto;
}

.ideas__pictures {
	margin: 0 auto;
	padding-left: 25px; 
}

.ideas__item {
	display: inline-block;
	position: relative;
	width: 295px;
	height: 310px;
	overflow: hidden;
	margin-bottom: 5px;
}

.ideas__item__img {
	position: absolute;
	width: auto;
	height: 100%;
}

.ideas__item.wide {
	display: inline-block;
	position: relative;
	width: 595px;
	height: 310px;
	overflow: hidden;
	margin-bottom: 5px;
}

.ideas__item__name {
	display: inline-block;
	position: absolute;
	top: 50%;
  left: 5%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 22px;
  line-height: 24px;
	color: #fff;
}

.ideas__search__partners {
	display: block;
	position: absolute;
	left: 27.5%;
	bottom: 10%;
}

.ideas__search__partners__title {
	margin-top: 100px;
	padding-left: 80px;
	text-align: center;
	font-size: 22px;
	line-height: 26px;
}

.ideas__search__partners__text {
	margin-top: 35px;
	padding-left: 80px;
	padding-bottom: 20px;
	text-align: center;
	font-family: 'robotolight', Arial, sans-serif;
	font-size: 18px;
}

.ideas__search__interests {
	text-align: center;
	font-family: 'robotolight', Arial, sans-serif;
	font-size: 18px;
}

.ideas__search__input {
	display: block;
	position: absolute;
	bottom: -61px;
	width: 230px;
	height: 38px;
	margin-top: 38px;
	padding-left: 10px;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	font-size: 14px;
	color: #cfcfcf;
}

.ideas__search__interests__button {
	display: block;
	position: absolute;
	left: 280px;
	width: 160px;
	height: 38px;
	margin: 18px 0 0 10px;
	cursor: pointer;
	border-radius: 19px;
	border: 1px solid transparent;
	font-family: 'montserratbold', Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	background-color: #ff4e50;
}


/* footer section for desktop */
footer {
	display: block;
	width: 1440px;
	margin: 0 auto;
	border-top: 2px solid #ff4e50;
	background-color: #fff;
}

.footer__container {
	display: block;
	width: 940px;
	height: 200px;
	margin: 0 auto;
}

.footer__logo__img {
	display: inline-block;
	padding: 36px 0 0 0;
	vertical-align: top;
}

.footer__menu {
	display: inline-block;
	width: 400px;
}

.footer__menu__item {
	display: block;
	float: left;
	text-align: left;
	padding: 38px 2px 0 92px;
}

.footer__submenu {
	text-align: left;
	padding-top: 3px;
}

.footer__submenu__item {
	padding-top: 10px;
	font-family: 'robotolight', Arial, sans-serif;
	color: #333333;
}

.footer__menu__item a {
	padding: 0 2px;
	text-decoration: none;
	font-weight: bold;
	color: #333333;
}

.footer__submenu__item  a {
	padding: 0 2px;
	text-decoration: none;
	font-weight: normal;
	color: #333333;
}

.footer__dev__img {
	display: inline-block;
	float: right;
	padding: 39px 0 0 0;
}
/* end layout for desktop */ 

